<h1>Home#index</h1>
<% if @videos.any? %>
  <div class="videos-list">
    <% @videos.each do |video| %>
      <div class="video-item">
        <img src="<%= video['thumbnail_url'] %>" alt="<%= video['title'] %>">
        <h2><%= video['title'] %></h2>
        <p><%= video['description'] %></p>
        <p>Views: <%= number_with_delimiter(video['views']) %></p>
      </div>
    <% end %>
  </div>

  <%# Pagination links %>
  <% if @meta %>
    <div class="pagination">
      <% if @meta['page'] > 1 %>
        <%= link_to 'Previous Page', root_path(page: @meta['page'] - 1) %>
      <% end %>
      <%= link_to 'Next Page', root_path(page: @meta['page'] + 1) %>
    </div>
  <% end %>
<% else %>
  <p>No videos available.</p>
<% end %>